@import url("vendor/fonts.css");
@import url("vendor/normalize.css");
@import url("./animations.css");

body {
    overscroll-behavior: contain;
}

.page {
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
}

.page__title {
    color: white;
    max-width: 40vw;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.modal__gameover {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .hidden {
    display: none; /* Hidden by default */
  }
  
  /* Modal Content */
  .modal__content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .modal__close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.modal__text {
    text-align: center;
}

.modal__close:hover,
.modal__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.gamefield__background {
    max-width: 60vw;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
    position: relative;
}

.gamefield {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

.gamefield__row {
    display: flex;
    justify-content: center;
}

.gamefield__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    background-color:rgb(231, 231, 231);
    /* border: salmon solid 1px; */
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.cell__0 {
    background-color:gainsboro;
}

.cell__2 {
    background-color:sandybrown;
}

.cell__4 {
    background-color: #FFCF00;
}

.cell__8 {
    background-color: #EEBA0B;
}

.cell__16 {
    background-color: #EE6123;
}

.cell__32 {
    background-color: tomato;
}

.cell__64 {
    background-color : orangered;
}

.cell__128 {
    background-color: tomato;
}

.cell__256 {
    background-color: #C36F09;
}

.cell__512 {
    background-color: chocolate;
}

.cell__1024 {
    background-color: coral;
}

.cell__2048 {
    background-color: crimson;
}

.cell__4096 {
    background-color: firebrick;
}

.cell__8192 {
    background-color: #931621;
}

.cell__16384 {
    background-color: #710000;
}

.cell__32768 {
    background-color: #BC4B51;
}

.cell__65536 {
    background-color: #F76C5E;
}